@import "https://js.arcgis.com/4.19/@arcgis/core/assets/esri/themes/light/main.css";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #000;
}

#map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.viewpointBtn button{
  background: #ffffff;
  margin-bottom: 10px; 
  border: 1px;
  border-radius: 10px;
  font-family: "Avenir Next","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: rgb(100, 100, 100);
  display: inline;
  cursor: pointer;
}

.viewpointBtn button:hover {
  color: #d6565a;
}

.sidebar {
  height: 200px;
  width: 160px;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: #ebe6e6;
  overflow-x: hidden;
  padding-top: 16px;
  padding-left: 16px;
}